#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  font-size: 4rem;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 40px #61dafbca);
}

@keyframes logo-spin {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin alternate infinite 1.5s ease-in-out;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
