.logo {
  font-size: 50px;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 40px #fd9f9acc);
}

@keyframes logo-spin {
  from {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(8deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin alternate infinite 1.7s ease-in-out;
  }
}


