* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-light: rgba(255, 255, 255, 0.87);
  --highlight-1: #a864fd;
  --highlight-1-alt: #ff718d;
  --highlight-2: #64b3f4;
  --highlight-2-alt: #f093fb;

  --background: #242424;
  --background-alt: #1a1a1a;
  --text: #f8f8f8;
  --text-alt: #d0d0d0;;
 

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--highlight-2-alt);
  text-decoration: inherit;
}
a:hover {
  color: var(--highlight-2);;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2, h3, h4, h5, h6 {
  margin: 5px 0;
}

button, input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 5px 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--background-alt);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, input:hover {
  border-color: var(--highlight-1);
}
button:focus, button:focus-visible,
input:focus, input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button, input {
    background-color: #f9f9f9;
  }
}

.party {
  animation: party 2.3s infinite;
}

@keyframes party {
  0% {
    background-color: var(--highlight-1);
  }
  18% {
    background-color: var(--highlight-1);
  }
  25% {
    background-color: var(--highlight-1-alt);
  }
  43% {
    background-color: var(--highlight-1-alt);
  }
  50% {
    background-color: var(--highlight-2);
  }
  68% {
    background-color: var(--highlight-2);
  }
  75% {
    background-color: var(--highlight-2-alt);
  }
  93% {
    background-color: var(--highlight-2-alt);
  }
  100% {
    background-color: var(--highlight-1);
  }
}
